<div>{{#link-to 'simple-usage'}}Simple Usage{{/link-to}}</div>
<div>{{#link-to 'advanced-usage'}}Advanced Usage{{/link-to}}</div>
<div>{{#link-to 'multiple-keys-usage'}}Multiple Keys Usage{{/link-to}}</div>

<div style="margin-top: 50px">
  {{outlet}}
</div>
